body, h1, h2, h3, h4, p, ul, ol[class], li, figure, figcaption, blockquote, dl, dd, html {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    /* font-family: 'Lato', sans-serif; */
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    -webkit-text-size-adjust: 100%;
    font-style: normal;
    width: 1440px;
}
* {
    box-sizing: border-box;
}

.sectHeader {
    width: 1440px;
    height: 765px;
    background-image: url("img/header-back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.displayFlex {
    display: flex;
}
.headerNav {
    height: 90px;
    color: #fff;
    background: rgba(242, 120, 92, 0.7);
    padding: 26px 0 24px 120px;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
.logoImg {
    width: 30px;
    height: 30px;
    margin-right: 6px;
}
.logoP {
    font-style: Bold;
    font-size: 32px;
    font-weight: 600;
    line-height: 37px;
    font-family: 'Magra';
}
.navbar {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    margin-left: 145px;
    margin-top: 9px;
    font-family: 'Red Hat Text';
}
.navbar nav {
    margin: 0 22px 0 21px;
    transition: 0.3s;
}
.navbar nav:hover {
    cursor: pointer;
    color: #0D606F;
    transition: 0.3s;
}
.headerBtn {
    margin-left: 174px;
    width: 103px;
    height: 41px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-size: 16px;
    line-height: 21px;
    padding: 10px 29.5px;
    letter-spacing: 0.5px;
    margin-top: -1px;
    transition: 0.3s;
    font-family: 'Red Hat Text';
}
.headerBtn:hover {
    color: #0D606F;
    cursor: pointer;
    background-color: #fff;
    transition: 0.3s;
    box-shadow: 4px 7px 7px rgba(0, 0, 0, 0.5), 3px 5px 6px rgba(13, 96, 111, 0.3);
}
.headerBlock {
    margin-left: 120px;
    margin-top: 25px;
    height: 422px;
    width: 892px;
    color: #fff;
}
.headerBlock h1 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: -0.5px;
}
.headerBlock p {
    margin-top: 37px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Aleo';
}
.headerForm {
    margin-top: 48px;
    width: 892px;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}
.formInput {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    background: none;
    border: none;
    outline: none;
    margin-top: 30px;
    margin-left: 40px;
    width: 557px;
}
.formInput::placeholder {
    color: #F2785C;
}
.btn {
    width: 228px;
    height: 59px;
    background: #0D606F;
    border: none;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    color: #fff;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    transition: 0.3s;
    padding: 10px 32px;
    gap: 11px;
}
.btn:hover {
    color: #0D606F;

    background: #fff;
    cursor: pointer;
    box-shadow: 4px 7px 7px rgba(0, 0, 0, 0.5), 3px 5px 6px rgba(13, 96, 111, 0.3);
    transition: 0.3s;
}
.formBtn {
    margin-left: 45px;
    padding: 10px 33px 10px 31px;
}
.sectMain {
    height: 1639px;
    color: #0D606F;
    overflow: hidden;
}
.mainH {
    color: #F2785C;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
}
.steps {
    padding-top: 80px;
    margin-left: 414px;
}
.stepBlock {
    display: flex;
    margin-top: 40px;
    margin-left: 131px;
    width: 1178px;
    height: 154px;
    justify-content: space-between;
}
.stepEl{
    display:block;
}
.elBlock {
    width: 100px;
    height: 100px;
    border-radius: 16px;
    background-color: #F2785C;
    margin: auto;
}
.elBlock img {
    padding-top: 28px;
    margin: auto;
    display: block;
}
.stepElP {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 29px;
}
.stepEl2 {
    margin-left: 72px;
}
.stepEl2 img {
    padding-top: 24px;
}
.dest {
    margin-left: 470px;
    margin-top: 97px;
}
.destPictures {
    margin-top: 46px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
    width: 2520px;
    height: 800px;
    margin-left: -540px;
    color: #fff;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    font-size: 32px;
}
.destPicture {
    flex: none;
    width: 800px;
    height: 800px;
    background-color: gray;
    border-radius: 16px;
}
.destPicture p {
    margin-top: 717px;
    margin-left: 15px;
}
.pict1 {
    background-image: url(img/pict1.jpg);
}
.pict2 {
    background-image: url(img/pict2.jpg);
}
.pict3 {
    background-image: url(img/pict3.jpg);
}
.pictControls {
    display: flex;
    margin: auto;
    width: 80px;
    margin-top: 24px;
    gap: 10px;
    margin-left: 681px;
}
.control {
    background-color: rgba(242, 120, 92, 0.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.control:hover {
    background-color: #F2785C;
    cursor: pointer;
}
.controlActive {
    background-color: #F2785C;
}
.pictBtn {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 607px;
    gap: 11px;
}
.stoies {
    margin-left: 552px;
    margin-top: 80px;
}
